.icon {
  background: rgba(204, 177, 72, 1) 61%;
}

.playSong {
  cursor: pointer;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(85, 82, 82, 0.353) !important;
  color: #fff;
}

#option-button button:nth-of-type(1) {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  color: white;
  background-color: rgba(245, 222, 179, 0.232);
  opacity: 0.7;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

#option-button button:nth-of-type(2) {
  width: 50px;
  height: 50px;
  background-color: #0d8309ab;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

#option-button button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #0d8309ab;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

#option-button button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.796);
}

#option-button button:active {
  transform: scale(1);
  box-shadow: 0 0 10px 3px #0d8309ab;
}

#option-button button i {
  transition: transform 0.3s ease;
}

#option-button button:hover i {
  background-color: transparent;
  color: white;
  transform: scale(1.2);
}

#option-button button:active i {
  transform: scale(1);
}

.heart-icon {
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.heart-checkbox:checked + .heart-icon {
  color: rgb(209, 24, 24);
  text-shadow: 0 0 10px rgb(181, 19, 19), 0 0 20px rgb(181, 19, 19),
    0 0 30px rgb(181, 19, 19);
  transform: scale(1.6);
}

.heart-checkbox:not(:checked) + .heart-icon {
  color: rgba(255, 255, 255, 0.781);
  text-shadow: none;
  transform: scale(1.6);
}

.text-dark {
  opacity: 0.75;
}

.btn-dark {
  opacity: 0.95;
}

#colonna-destra,
#colonna-sinistra {
  background-color: rgba(0, 0, 0, 0.933);
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
  border: 1px solid #323a3ea8;
  --sb-track-color: #0a0c0ca9;
  --sb-thumb-color: #4c4c4ca9;
  --sb-size: 15px;
}

@media (max-width: 1200px) {
  #colonna-centrale {
    overflow-y: scroll;
  }

  #colonna-centrale::-webkit-scrollbar {
    display: none;
  }
}

button > span{
  font-size: 0.5em;
}

#amici{
  font-size: 0.7em;
}