main form {
  background-color: #151515;
}

#search-input::placeholder {
  color: white;
}

header > nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 0.8157387955182073) 100%
  );
}

/* NAVBAR MOBILE */

#optionAlte {
  height: auto;
  background-color: unset;
  border-radius: 0;
}

#imgUtenteMenu {
  width: 40px;
  object-fit: cover;
}

.col img {
  width: 18.5vh;
  object-fit: contain;
  transform: rotate(22deg);
  right: -25px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

main .col > div {
  overflow: hidden;
  font-weight: 500;
  height: 20vh;
  border-radius: 15px;
}

.p-2 p {
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 5px;
}

main .col:nth-of-type(1) > div {
  background-color: #f54014;
}
main .col:nth-of-type(2) > div {
  background-color: #233260;
}
main .col:nth-of-type(3) > div {
  background-color: #de295a;
}
main .col:nth-of-type(4) > div {
  background-color: green;
}
main .col:nth-of-type(5) > div {
  background-color: #c90000;
}
main .col:nth-of-type(6) > div {
  background-color: #f54014;
}
main .col:nth-of-type(7) > div {
  background-color: #de295a;
}
main .col:nth-of-type(8) > div {
  background-color: #795f96;
}

main .col:nth-of-type(9) > div {
  background-color: #03af00;
}

main .col:nth-of-type(10) > div {
  background-color: #49019c;
}

main .col:nth-of-type(11) > div {
  background-color: #233260;
}

main .col:nth-of-type(12) > div {
  background-color: red;
}

.card {
  border-radius: 15px;
  border: 0;
  padding: 0;
  overflow: hidden;
  color: white;
  font-weight: 500;
  background: linear-gradient(220.55deg, #121212c4 0%, #0b0a0a 100%);
}

input:focus {
  outline: none;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

#SearchContainer {
  background-color: #121111c0;
}

#SearchContainer {
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;
}

#colonna-centrale {
  overflow-y: hidden;
}

#ProfileImg {
  width: 50px;
  height: 50px;
}

button > span {
  font-size: 1.5em;
}

#amici {
  font-size: 0.7em;
}

#Category {
  padding-bottom: 55px;
}

@media (min-width: 992px) {
  #Category {
    padding-bottom: unset;
  }
}
