html {
  background: linear-gradient(255.55deg, #0d5c06c9 0%, #181818 100%);
}

body {
  font-family: Circular, sans-serif;
  transition: background-color 0.8s ease, opacity 0.8s ease;
  transform: scale(0.97);
}


#back-ground-1 {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.container-fluid {
  --bs-gutter-x: 0rem;
}

.carousel-item {
  position: relative;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.position-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.carousel-inner button {
  border: 0;
  background: rgba(52, 56, 54, 0.636);
  background: linear-gradient(
    45deg,
    rgba(37, 60, 45, 0.708) 0%,
    rgb(25, 45, 31) 100%
  );
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: background 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.carousel-inner button:hover {
  background: rgb(23, 185, 75);
  background: linear-gradient(
    45deg,
    rgba(23, 185, 75, 1) 0%,
    rgba(30, 215, 96, 1) 100%
  );
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.12),
    0 0 10px rgba(30, 215, 96, 1);
  transform: translateY(-2px);
}

.carousel-inner button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08),
    0 0 5px rgba(23, 185, 75, 0.8);
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.modal-content {
  color: white;
  background: linear-gradient(220.55deg, #0d0d0dc3 0%, #42403fd5 100%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}


.scrollable-form-container {
  overflow-y: auto;
  max-height: 70vh;
  padding-right: 15px; 
  box-sizing: border-box; 
}
